
.questtag-button{
    background-color: #586980 !important;
    width: 90px;
    height: 30px !important;
    padding: 0px !important;
    font-size: 13px;
    color: #ffffff !important;
}
.questtag-button:hover {
    background-color: #32364a !important;
}

#add_New_Order{

    padding:0px 30px 20px 30px;
    font-size: 14px !important;
    font-weight: normal !important;
}


